{% extends 'base.html' %}
{% block title %} discount {% endblock %}

{% block body %}
  <h1 class="">there is discounted products</h1>
    {% for disc in discounted_products %}
    <div class="card" style="width: 18rem;">
          <h5 class="card-title m-auto pt-3">{{disc.title}}</h5>
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body m-auto">
            <p class="card-text">description: {{disc.description}}</p>
            <p>price: {{disc.price}}</p>
              <p>discount: {{disc.discount}}</p>
            <a href="{% url 'shop:product' product_pk=disc.pk %}" class="btn btn-primary">click to see product detail</a>
          </div>
        </div>
    {% endfor %}

{% endblock %}