{% extends 'base.html' %}
{% block title %} Home page {% endblock %}

{% block body %}
<div class="row mt-5 mb-5">
    <div class="col-7 shopindexdiv me-1">
        <h1 class="mt-2 mb-3 text-center text-white">This is all category</h1>
        <div class="d-flex flex-wrap mb-3 justify-content-center text-center">
            {% for cat in category %}
                <div class="card m-1" style="width: 18rem;">
                    <img src="{{ cat.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{% url 'shop:specific_categories' category_pk=cat.pk %}" class="btn btn-primary">{{ cat.name }}</a>
                        <p class="card-text">description: {{cat.description}}</p>
                        <p>total products: {{cat.total_products}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-4 shopindexdiv me-1">
        <h1 class="mt-2 mb-3 text-center text-white">List of last 5 added product</h1>
        <div class="d-flex flex-wrap mb-3 justify-content-center text-center">
            {% for product in last_5_product %}
                <div class="card m-1" style="width: 18rem;">
                    <a href="{% url 'shop:product' product_pk=product.pk %}" class="btn btn-primary mb-2 mt-2">{{product.title}}</a>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">description: {{cat.description}}</p>
                        <p>total products: {{cat.total_products}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% endblock %}
