{% extends 'base.html' %}
{% block title %} categories {% endblock %}

{% block body %}
    <h2>there is all "{{category_id}}" products</h2>
    {% for product in all_product %}
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p>price: {{product.price}}</p>
            <p>discount: {{product.discount}}</p>
            <a href="{% url 'shop:product' product_pk=product.pk %}" class="btn btn-primary">click to see product detail</a>
          </div>
        </div>
    {% endfor %}

{% endblock %}

