{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css_for_shop/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'shop:home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:discounted_product' %}">discount</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:all_products' %}">all products</a>
                </li>
                <li>
                    <a class="nav-link me-5" href="{% url 'shop:add_product' %}">add product</a>
                </li>
                  {% if user.is_authenticated %}
                      <li>
                        <a class="nav-link border rounded-3 me-2" href="{% url 'user:profile' %}">{{user}}</a>
                    </li>
                    <form action="{% url 'user:logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                   {% else %}
                    <li class="nav-item">
                        <a class="nav-link border rounded-3 me-2" href="{% url 'user:login' %}">login</a>
                    </li>
                    <li>
                        <a class="nav-link border rounded-3" href="{% url 'user:register' %}">register</a>
                    </li>
                  {% endif %}
              </ul>
              <form class="d-flex" role="search" action="{% url 'shop:all_products' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{request.GET.q}}"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
        {% block body %}
        {% endblock %}
    </div>

{% block paginator %}
    {% if is_paginated %}
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-5">
          <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="?page=1">first</a></li>
              {% endif %}

              {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous"><span aria-hidden="true">&laquo; prev</span></a>
                  </li>
              {% else %}
              <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo; prev</span></a>
              </li>
              {% endif %}

              {% for number in paginator.page_range %}
                    {% if number == page_obj.number %}
                        <li class="page-item active"><a class="page-link" href="#">{{number}}</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
                    {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Previous"><span aria-hidden="true">next &raquo;</span></a>
                  </li>
              {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">next &raquo;</span></a>
                    </li>
              {% endif %}

              {% if page_obj.has_next %}
                <li class="page-item"> <a class="page-link" href="?page={{ paginator.num_pages }}">Last</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
              {% endif %}

          </ul>
        </nav>
    {% endif %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>